.example-spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 2rem;
}

img {
  width: 260px;
}

.container {
  margin: 0;
  padding: 0;
}

.tool-bar {
  background-color: #112e51;
  padding: 50px;
  border-bottom: 2px white;
}

.title {
  color: white;
  background-color: #112e51;
  font-size: 1.2rem;
  padding: 20px 0px 20px 50px;
  margin: 0;
}

.divider {
  background-color: white;
  display: block;
}
