.container {
  display: flex;
  justify-content: space-between;
}

img {
  width: 260px;
  padding-bottom: 5px;
}

.user-name {
  color: var(--secondary-color-2);
  font-weight: 600;
}

.divider {
  height: 1.5px;
  width: 100%;
  background-color: var(--secondary-color-2);
}

.title {
  color: var(--secondary-color-2);
  background-color: var(--primary-color-1);
  font-size: 1.0rem;
  font-weight: 600;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  padding: 20px 0px 0px 15px;
  margin: 0;
}
