<div class="container">
  <a href="https://www.va.gov/">
    <img alt="Go to VA.gov" src="https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/header-logo.png">
  </a>
  <p class="user-name">{{user?.firstName}} {{user?.lastName}}</p>
</div>
<div class="divider"></div>
<ul class="nav">
  <li class="nav-benefits-healthcare">
    <button class="btn-benefits-healthcare">VA Benefits and Health Care</button>
    <mat-icon class="icon-expand-more">expand_more</mat-icon>
  </li>
  <li class="nav-about">
    <button class="btn-about">About VA</button>
    <mat-icon class="icon-expand-more">expand_more</mat-icon>
  </li>
  <li class="nav-find-a-location">
    <a class="a-find-a-location" href="https://www.va.gov/find-locations">Find a VA Location</a>
  </li>
</ul>
