<form [formGroup]="addbeneficiaryForm">
  <div class="container">
    <div class="column">
      <!-- First Name -->
      <label class="label">First Name</label>
      <input required formControlName="firstName" autofocus>
    </div>
      <div class="column">
      <!-- Last Name -->
      <label class="label">Last Name</label>
      <input required formControlName="lastName">
    </div>
    <div class="column">
      <!-- Percentage of Benefit -->
      <label class="label">Percentage</label>
      <input maxlength="3" required formControlName="percentOfBenefit">
    </div>
    <button type="button" (click)="addBeneficiary()">Save</button>
    <button type="button" (click)="closeAddBeneficiary()">Cancel</button>
  </div>
</form>
