<div class="header-container">
  <div class="header">
    <app-beneficiary-header [user]="user"></app-beneficiary-header>
  </div>
</div>

<!-- Primary Benificiary -->
<div class="body">
  <div class="title-container">
    <h1 class="title">Beneficiaries</h1>
  </div>
  <h2 class="sub-title">Primary
    {{this.user.beneficiaryTypes[this.beneficiaryType.primary].length < 2
      ? ' Benificiary'
      : ' Benificiaries'}}
  </h2>
  <div *ngFor="let beneficiary of this.user.beneficiaryTypes[this.beneficiaryType.primary]; let i = index">
    <app-beneficiary
      [beneficiary]="beneficiary"
      (deleteBeneficiary)="deleteBeneficiary(this.beneficiaryType.primary, $event)"
      (percentageChanged)="percentageChanged(this.beneficiaryType.primary, $event)">
    </app-beneficiary>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div class="btn-container">
    <button
      *ngIf="!this.showBeneficiaryDetailForm"
      mat-mini-fab class="btn-add"
      (click)="toggleShowBeneficiaryDetailForm()"
      cdkOverlayOrigin #originOverlay="cdkOverlayOrigin">+
    </button>
  </div>
  <!-- Beneficiary details, **DELETE THIS WHEN THE OVERLAY IS CREATED** -->
  <app-beneficiary-details
    *ngIf="this.showBeneficiaryDetailForm"
    (addNewBeneficiary)="addBeneficiary(this.beneficiaryType.primary, $event)"
    (closeScreen)="closeBeneficiaryDetailForm()">
  </app-beneficiary-details>

  <!-- Contingent Benificiary -->
  <div *ngIf="this.user.beneficiaryTypes[this.beneficiaryType.primary].length > 0">
    <h2 class="sub-title">Contingent Benificiary</h2>
    <div *ngFor="let beneficiary of this.user.beneficiaryTypes[this.beneficiaryType.contingent]">
      <app-beneficiary></app-beneficiary>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="btn-container">
      <button mat-mini-fab color="primary" class="btn-add">+</button>
    </div>
  </div>
  <div class="btn-container">
    <button type="button" color="primary" *ngIf="showSaveButton" mat-raised-button (click)="saveBeneficiary()">Save</button>
  </div>
</div>

<!-- Add beneficiary details overlay-->
<!-- <ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="this.showBeneficiaryDetailForm">
  <app-beneficiary-details></app-beneficiary-details>
</ng-template> -->
