.header-container {
  width: 100%;
  min-height: 151px;
  background-color: var(--primary-color-1);
}

.header {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 959px;
  background-color: var(--primary-color-1);
}

.title-container {
  height: 72px;
  padding: 10px 20px 10px 20px;
  background-image: linear-gradient(rgb(200, 200, 200), white);
}

.title {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: 400;
  color: #003f72;
  padding-bottom: 6px;
}

.sub-title {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #003f72;
  margin: 10px 20px 10px 20px;
  padding-top: 20px;
}

a:link:active, a:visited:active, a:link, a:visited {
  color: var(--secondary-color-3);
  padding: 10px;
}

.body {
  margin: 0 auto;
  max-width: 959px;
  box-shadow: -10px 0px 40px 0px var(--primary-color-1),
               10px 0px 40px 0px var(--primary-color-1);
  background-color: var(--secondary-color-2);
  background-image: linear-gradient(rgb(160, 160, 160) 1%, white 25%);
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  height: 50px;
  width: 100%;
}

.btn-add {
  height: 42px;
  margin: 50px;
  padding: 0px 10px;
  border: 0px solid;
  border-radius: 5px;
  background-color: var(--primary-color-2);
  color: var(--secondary-color-2);
  font-size: 1.0rem;
  font-weight: 600;
  cursor: pointer;
}
.btn-add:hover {
  background-color: var(--primary-color-1);
}

.btn-save {
  height: 42px;
  margin: 50px;
  padding: 0px 10px;
  border: 0px solid;
  border-radius: 5px;
  background-color: var(--primary-color-2);
  color: var(--secondary-color-2);
  font-size: 1.0rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-save:hover {
  background-color: var(--primary-color-1);
}

