<div class="header-container">
<div class="header">
  <app-beneficiary-header [user]="user"></app-beneficiary-header>
</div>
</div>

<!-- Primary Benificiary -->
<div class="body">
  <p>
    <strong class="title">Primary Benificiary</strong>
    <a href="https://benefits.va.gov/INSURANCE/resources_handbook_ins_chapter6.asp" target="_blank">
      <mat-icon>info</mat-icon>
    </a>
  </p>
  <div *ngFor="let beneficiary of this.user.primaryBeneficiaries; let i = index">
    <app-beneficiary
      [beneficiary]="beneficiary"
      (deleteBeneficiary)="deleteBeneficiary($event)"
      (percentageChanged)="adjustBeneficiaryPercent($event)">
    </app-beneficiary>
    <mat-divider class="divider"></mat-divider>
  </div>
  <div class="btn-container">
    <button
      *ngIf="!this.showBeneficiaryDetailForm"
      mat-mini-fab class="btn-add"
      (click)="toggleShowBeneficiaryDetailForm()"
      cdkOverlayOrigin #originOverlay="cdkOverlayOrigin">+
    </button>
  </div>
  <app-beneficiary-details
    *ngIf="this.showBeneficiaryDetailForm"
    (addNewBeneficiary)="addBeneficiary($event)"
    (closeScreen)="closeBeneficiaryDetailForm()">
  </app-beneficiary-details>

  <!-- Contingent Benificiary -->
  <div *ngIf="this.user.primaryBeneficiaries.length > 0">
    <p>
      <strong class="title">Contingent Benificiary</strong>
      <a href="https://benefits.va.gov/INSURANCE/resources_handbook_ins_chapter6.asp" target="_blank">
        <mat-icon>info</mat-icon>
      </a>
    </p>
    <div *ngFor="let beneficiary of this.user.contingentBeneficiaries">
      <app-beneficiary></app-beneficiary>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="btn-container">
      <button mat-mini-fab color="primary" class="btn-add">+</button>
    </div>
  </div>
</div>

<!-- Add beneficiary details overlay-->
<!-- <ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="this.showBeneficiaryDetailForm">
  <app-beneficiary-details></app-beneficiary-details>
</ng-template> -->
