<div class="container">

    <span class="name">{{beneficiary?.firstName}} {{beneficiary?.lastName}}</span>

    <div class="percentage">
        <label class="label">Percentage</label>
        <input
          class="input-percentage"
          type="number"
          #percentage
          maxlength="3"
          placeholder="Ex. 50"
          value="{{beneficiary?.percentOfBenefit}}"
          (input)="onChange(beneficiary, percentage)"
        >
        <label class="label">{{beneficiary?.percentOfBenefit}} / 100</label>
    </div>

    <button class="btn-subtract" (click)="onDelete(beneficiary)">Delete</button>
</div>

