button {
  font-size: 2rem;
}

.btn-add {
  background-color: green;
}

.btn-subtract {
  background-color: red;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 100px;
}
